﻿body {
    margin: 0px;
    font: bold 16px arial;
    font-weight: bold;
    background-color: white;
}

.form {
    height: 100%;
    width: 100%;
    overflow: visible;
    background-color: #FFFFFF;
    font: bold 16px arial;
}

.menu { /*background-color:#b3d4ff; border: solid #6593cf 1px; border-bottom:solid  #6593cf 1px;*/
    text-transform: uppercase;
    font-weight: bold;
    padding: 2px;
    font: bold 16px arial;
}

.menu_head {
    color: #15428b;
    font: bold 16px arial;
}
/* Класс для текстовых данных*/
.text {
    color: #15429f;
    font: bold 16px arial;
}
/* Класс для текстовых данных - выделение*/
.text_inverse {
    background-color: #d6e7ff;
    color: #15428b;
    font: bold 16px arial;
}
/* Класс для контролов ввода данных */
.input {
    width: 200px;
    font: bold 16px arial;
}
/* Класс для контролов ввода данных - выделение*/
.input_inverse {
    background-color: #eeeeee;
    border: dashed #7eacb1 1px;
    width: 200px;
    font: bold 16px arial;
}
/* Класс для контролов ввода данных - активный */
.input_active {
    border: solid #7eacb1 1px;
    width: 200px;
    font: bold 16px arial;
}
/* Класс для контролов ввода данных - неактивный*/
.input_disable {
    background-color: #eeeeee;
    border: dashed #7eacb1 1px;
    font: bold 16px arial;
}
/* Класс для контролов ввода данных - только для чтения */
.input_readonly {
    background-color: #eeeeee;
    border: dashed #7eacb1 1px;
    font: bold 16px arial;
}
/* Класс для кнопок списка (list) */
.list_menuitem {
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    width: 300px;
    font: bold 16px arial; /*background-color:#b3d4ff; border: solid #6593cf 1px; border-bottom:solid  #6593cf 1px; text-transform:uppercase;   font: bold 16px arial; */
}
/* Класс для контрола данных выбора из списка (list) */
.list_iteminput { /*background-color:#eeeeee;border: #7eacb1 1px;   font: bold 16px arial; */
}
/* Класс для кнопок меню */
.menu_button {
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    width: 300px;
    font: bold 16px arial;
    width: 300px;
}
/* Класс для меню ввода данных */
.menu_input {
    width: 200px;
    font: bold 16px arial;
}
/* Класс для меню вывод количества страниц  */
.menu_pager {
    font: bold 16px arial;
}
/* Класс для функциональных клавиш  */
.function {
    font: bold 16px arial;
    width: 100px; /*background-color:#b3d4ff; border: solid #6593cf 1px; border-bottom:solid  #6593cf 1px; text-transform:uppercase;*/
}
/* Класс для функциональных клавиш - выделение */
.function_inverse {
    background-color: #b3d4ff;
    border: solid #6593cf 1px;
    border-bottom: solid #6593cf 1px;
    text-transform: uppercase;
    font: bold 16px arial;
}
/* Класс для помощи */
.help {
    color: #FF0000;
    font: bold 16px arial;
}
/* Класс для отображения ошибок ввода */
.message {
    color: #FF0000;
    font: bold 16px arial;
}
/* Класс для кнопки выхода */
.exit_button {
    font: bold;
    width: 60px;
    font: bold 16px arial;
}

.error {
    color: #FF0000;
    font: bold 16px arial;
}
/* Класс для значений */
.value {
    color: #FF0000;
    font: bold 16px arial;
}


.line {
    text-align: center;
    margin: 10px auto;
}
